<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="navbar">

        {% if request.user.is_authenticated %}
            <h3>환영합니다, {{ user }}님</h3>
            <form action="{% url 'accounts:logout' %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="로그아웃">
            </form>

            <a href="{% url 'accounts:update' %}">
                <button>회원정보수정 및 탈퇴</button>
            </a>
        {% else %}
            <a href="{% url 'accounts:login' %}">
                <button>로그인</button>
            </a>
            <a href="{% url 'accounts:signup'%}">
                <button>회원가입</button>
            </a>
        {% endif %}
    </div>

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

</body>
</html>